<mat-toolbar
  class="flex items-center justify-between px-4 py-2 bg-blue-600 !bg-blue-400"
>
  <h1 class="text-white">Task Tracker</h1>
  <div class="flex items-center space-x-2">
    <button
      mat-button
      aria-label="Task"
      (click)="HomeIconClicked()"
      class="focus:outline-none text-white"
    >
      <span class="text-white">Tasks</span>
    </button>
    <button
      mat-button
      aria-label="Category"
      (click)="CategoryClicked()"
      class="focus:outline-none text-white"
    >
      <span class="text-white ">Category</span>
    </button>
  </div>
</mat-toolbar>
