<div class="p-8 mt-8 flex justify-center">
  <form class="shadow border w-4/12 p-4">
    <div class="flex">
      <mat-form-field class="w-full">
        <mat-label>Title</mat-label>
        <input matInput name="title" type="text" [(ngModel)]="editTask.title" />
      </mat-form-field>
    </div>
    <div class="flex">
      <mat-form-field class="w-full">
        <mat-label>Notes</mat-label>
        <input matInput name="notes" type="text" [(ngModel)]="editTask.notes" />
      </mat-form-field>
    </div>
    <div class="flex">
      <mat-form-field class="w-full">
        <mat-label>Choose Category</mat-label>
        <mat-select
          [(ngModel)]="categoryId"
          [(value)]="selected"
          name="Category"
        >
          @for(c of categories; track c){
          <mat-option [value]="c.id">
            {{ editTask.category?.name }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="flex">
      <mat-form-field class="w-full">
        <mat-label>Due Date</mat-label>
        <input
          matInput
          [matDatepicker]="dueDatePicker"
          name="dueDate"
          [(ngModel)]="editTask.dueDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="dueDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #dueDatePicker></mat-datepicker>
      </mat-form-field>
    </div>
    <!-- Checkbox for Completed -->
    <div class="flex items-center mt-4">
      <mat-checkbox [(ngModel)]="editTask.isCompleted" name="isCompleted">
        Completed
      </mat-checkbox>
    </div>
    <div class="flex justify-around">
      <button mat-raised-button (click)="toHome()">Cancel</button>
      <button mat-raised-button color="primary" (click)="edit()">Edit</button>
    </div>
  </form>
</div>
