<div class="flex justify-center p-8 mt-8">
  <form class="shadow border w-full max-w-lg p-4 responsive-form">
    <div class="flex flex-col gap-4">
      <mat-form-field class="w-full">
        <mat-label>Title</mat-label>
        <input matInput name="title" type="text" [(ngModel)]="editTask.title" />
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Notes</mat-label>
        <input matInput name="notes" type="text" [(ngModel)]="editTask.notes" />
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Choose Category</mat-label>
        <mat-select
          [(ngModel)]="categoryId"
          [(value)]="selected"
          name="Category"
        >
          @for(c of categories; track c) {
          <mat-option [value]="c.id">
            {{ c.name }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Due Date</mat-label>
        <input
          matInput
          [matDatepicker]="dueDatePicker"
          name="dueDate"
          [(ngModel)]="editTask.dueDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="dueDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #dueDatePicker></mat-datepicker>
      </mat-form-field>

      <div class="flex items-center">
        <mat-checkbox [(ngModel)]="editTask.isCompleted" name="isCompleted">
          Completed
        </mat-checkbox>
      </div>
    </div>

    <div class="flex justify-center gap-4 mt-6 flex-wrap">
      <button mat-raised-button color="primary" (click)="edit()">Edit</button>
      <button mat-raised-button color="warn" (click)="toHome()">Cancel</button>
    </div>
  </form>
</div>
